/**
********************modul installer bigbook.v.12******************
** @Dibuat oleh :	Bagus T. Hidayatullah 				   	W******
** @Tanggal 	:	7 april 2013 21:55 WIB					******
** @Model 	    :	CMS.Accounting for busines				******
** @Version	    :	bigbookaccounting.v.12					******
** @Call	    :	www.facebook.com/bagustilash			******
** @Project	    :	bigbookaccoungting						******
##################################################################	
	Discripsi:
 * ini adalah sebuah applikasi PHP diperuntukan untuk akuntansi.
 * di gunakan pada pembukuan akuntansi dan persediaan.
 * dengan pengontrolan penuh pada semua kegiatan transaksi.
 
****Copyright 2013 Bagus T.Hidayatullah, all rights reserved.*****
*/
body {
	font: 70%/1.6em Verdana, Tahoma, arial, sans-serif;
	color: #000;
	background:url('../img/bg.jpg');
}

a, a:visited {
	text-decoration: none;
	color: #2180BC;
	background: inherit;
}
a:hover {
	color: #88ac0b;
	background: inherit;
	text-decoration: underline;
}

h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;	 		
}
h2 {
	margin: 0;
	padding: 8px;
	border-bottom: 4px solid black;
	font-size: 140%;
	color: #000;
}

.main {
	display: block;
	clear: both;
	width: 50%;
	margin-left:21%;
	margin-top:10%;
	padding: 20px;
	background: #e5e5e5;
	/*box-shadow: 0 0 10px #000;*/
	border: solid 2px #c1c1c1;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.main .tengah, ul, li {
	font: 13px Verdana, Tahoma, arial, sans-serif;
	color: black;
} 

.tengah {
	background: url('../img/body_bg.jpg');
	border-bottom: 2px solid black;
	padding: 20px;
	height: 200px;
	overflow : auto;
	text-align: justify;
}

.bawah {
	padding: 10px;
	font: 12px Arial;
	color: #000;
	font-weight: bold;
	scrolling: yes;
}

.tombol_kanan {
	margin: 0px 0 5px 0;
	float: right;
}

.tombol_kiri {
	margin: 0px 0 5px 0;
	float: left;
}
table {
	color: black;
	font: 13px Verdana, Tahoma, arial, sans-serif;
}
textarea{
	margin-top:10px;
	width:100%;
	height:55%;
	text-align:left;
	font: 13px Verdana, Tahoma, arial, sans-serif;
	color: black;
}
#status table {
	float:left;
	margin-left:10px;
	text-align:center;
}
#finis table {
	float:left;
	margin-left:10px;
	text-align:center;
}
#status fieldset {
	float:left;
	margin-left:10px;
	text-align:center;
	width:300px;
}
#finis fieldset {
	float:left;
	margin-left:18px;
	text-align:center;
	width:500px;
}

#data fieldset {
	float:left;
	width: 20%;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}
#data legend{
	color: red;
}
msg p {
	font-family: 'trebuchet ms', arial, sans-serif; font-size:40px; color:#000;text-align:center;
} 
msg b {
	color:#4591d6; font-weight:bold;
}
#p legend {
	color: #000;
	text-align:center; width:100%;
	background:url(../img/head.gif) 0 100% repeat-x;
	border: 1px solid #c1c1c1 ;
	box-shadow: 0 0 5px #fff;float:right;
}
#p fieldset{
	background: #fff;
	border:1px solid  #c1c1c1;
	border-radius: 5px;
	width:auto 0px;
	height:auto 0px;
	float: left;
	margin-left: 25px;
	margin-right: 10px;
}